---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My most impactful projects</div>
  </div>

  <HorizontalCard
    title="Wax Eloquent"
    img="/project1.png"
    desc="Digital Marketing Agency website made with Elementor, WordPress, CPT and ACFs."
    url="https://waxeloquent.com/"
   
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="MikeyBS - Store"
    img="/project-2.png"
    desc="Woocommerce store with printing functionalities, load balanced with Cloudflare."
    url="https://mikeybs.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FCAM - Women's Fund - "
    img="/project-3.png"
    desc="Underscore based custom theme with custom post types and ACFs."
    url="https://fondocentroamericano.org/"
    badge="Multilingual"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Global Alliance for Green and Gender Action"
    img="/project-4.png"
    desc="Underscore based custom theme with custom post types and ACFs."
    url="https://fondocentroamericano.org/"
    badge="Multilingual"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bulso's Law Firm"
    img="/project-5.png"
    desc="Law firm website made with an Elementor template kit."
    url="https://bulso.com/"
  />
 
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Center for the Arts"
    img="/project-6.png"
    desc="Visual Arts Academy and exhibits with 3rd party integrations for donations and ticket purchases."
    url="https://boroarts.org/"
    badge="NEW"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dental Specialists of Connecticut"
    img="/project-7.png"
    desc="Dental site with amazing UI, developed with Elementor."
    url="https://growyourpracticenow.com/"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Roscoebrown"
    img="/project-8.png"
    desc="High traffic plumbing site with third-party integrations forms, online payments, e-commerce shops, a custom plugin and more."
    url="https://roscoebrown.com/"
  />
</BaseLayout>
