---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My most impactful projects</div>
  </div>

  
 <HorizontalCard
    title="Special Kids"
    img="/SK-Project.png"
    desc="Therapy Center website developed with WordPress, CPT, ACF, Blocksy, custom Gutenberg blocks and Third-Party integrations for donations and ticket purchases."
    url="https://www.specialkidstn.com/"
  />

   <div class="divider my-0"></div>
  <HorizontalCard
    title="Fashion & Race Database"
    img="/Project - Woo2.png"
    desc="Acted as Web Developer and Customer Support on a high-traffic learning & membership platform using MemberPress for subscriptions and access control, WooCommerce for payments, and custom templates built in Divi plus extensive CSS, JS for UI tweaks. Maintained strong security with custom IP rules, Wordfence, WAF, handled ongoing member and troubleshooting support, and resolved complex membership & payment issues."
    url="https://fashionandrace.org/database/"
  />

 <HorizontalCard
    title="L&L Contractors"
    img="/L&L-Project.png"
    desc="Roofing & Renovations website developed with WordPress, CPT, ACF, Elementor and Third-Party integrations."
    url="https://landlcontractors.com/"
  />

  <HorizontalCard
    title="Williamsom Family Farm"
    img="/WFF-Project.png"
    desc="Events and Weddings website developed with WordPress, CPT, ACF, Blocksy, custom Gutenberg blocks and Third-Party integrations for donations and ticket purchases."
    url="https://williamsonfamilyfarm.com/"
  />
  
  <HorizontalCard
    title="Wax Eloquent"
    img="/project1.png"
    desc="Digital Marketing Agency website made with Elementor, WordPress, CPT and ACFs."
    url="https://waxeloquent.com/"
   
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Center for the Arts"
    img="/project-6.png"
    desc="Visual Arts Academy made with Elementor, ACFs, JS, CSS3, and third-party integrations for donations and ticket purchases."
    url="https://boroarts.org/"
  />

    <div class="divider my-0"></div>
  <HorizontalCard
    title="Cove Surf & Turf Shop"
    img="/Project - Woo1.jpg"
    desc="Led development of a custom WooCommerce solution using BizPrint for tailored receipts, PHP for checkout/receipt templates, and FedEx API and local pickup for advanced shipping. Built with Custom Post Types, ACF, and custom PHP templates to extend WooCommerce functionality. In addition, load balanced  and secured with Cloudflare Web Application Firewall and CDN."
    url="http://covesurfandturf.com/"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Global Alliance for Green and Gender Action"
    img="/project-4.png"
    desc="Served as Full Stack Web Developer on a large-scale, load-balanced project using Cloudflare and Nginx. Built with the Underscores starter theme, JS and Query, Bootstrap, PHP, Custom Post Types, ACF, and WPML for multilingual support. Collaborated through Bitbucket and JIRA for version control and agile task management."
    url="https://gaggaalliance.org/"
    badge="Multilingual"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="FCAM - Women's Fund - "
    img="/project-3.png"
    desc="Served as Full Stack Web Developer on a large-scale, load-balanced project using Cloudflare and Nginx. Built with the Underscores starter theme, JS and JQuery, Bootstrap, PHP, Custom Post Types, ACF, and WPML for multilingual support. Collaborated through Bitbucket and JIRA for version control and agile task management. This project was built alongside GAGA Alliance."
    url="https://fondocentroamericano.org/"
    badge="Multilingual"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bulso's Law Firm"
    img="/project-5.png"
    desc="Law firm website made with an Elementor template kit."
    url="https://bulso.com/"
  />
 
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dental Specialists of Connecticut"
    img="/project-7.png"
    desc="Dental site with amazing UI, developed with Elementor."
    url="https://growyourpracticenow.com/"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Roscoebrown"
    img="/project-8.png"
    desc="High traffic plumbing site with third-party integrations forms, online payments, e-commerce shops, a custom plugin and more."
    url="https://roscoebrown.com/"
  />
</BaseLayout>
