---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Services</div>
  </div>

  <HorizontalCard
    title="Web Development and maintenance"
    img="/project1.png"
    desc="From basic sites with template kits and websites builders to full tailored solutions with custom functionalities that extends WordPress/WooCommerce and Shopify limitations. Additionally, I offer maintenance services to keep your site up to date and secure."
    url="#"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Security audits and improvements"
    img="/wordpress-security.webp"
    desc="I use Cybersecurity skills with Kali Linux tools to verify security in your Hosting provider and website : Protect against brute-force attacks, XSS, CSRF, DOS,DDOs, SQL Injections, and backdoors. Once I find vulnerabilities I will fix them and provide a report."
    url="#"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Hosting Support"
    img="/meme-services.jpg"
    desc="DNS configurations, SMTP configurations, installation of LAMP/LEMP stack to host WordPress sites on any type of server, PHP INI configurations, Load balancing with CloudFlare and NGINX/Apache, CDN integrations, hosting server resources optimization with cPanel, Plesk, WHM, Digital Ocean Droplets, AWS EC2, or any other tool for server managment."
    url="#"

  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Third-party integrations"
    img="/3rd-party.png"
    desc="Matomo, Jotjar, Jotforms, GSC, GA, GTM, Ahrefs, hCAPTCHA, reCAPTCHA, X-ray pixel, Google Maps API, Stripe, Mailchimp, Kindful, iDonate, Classy."
    url="#"
  />
  
  
</BaseLayout>
