---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Shawlorne West
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/GearWestX" target="_blank" class="font-bold">Shawlorne West</a> using Astro, TailWindCSS and 
    
    <a href="https://daisyui.com/" target="_blank" class="font-bold"> DaisyUI 🧩</a>
  </div>
</footer>
<style></style>
